.pizzaItemCart {
  box-shadow: -18px 0 20px -20px #333, 18px 0 20px -20px #333;
  margin: 30px;
  background-color: white;
  max-width: 300px;
}
.pizzaItemName {
  padding-top: 20px;
}
.pizzaItemImg img {
  padding: 10px;
  max-width: 100%;
}
.descriptionCatalog {
  margin: 0px 10px 0px 10px;
  height: 60px;
}
.nameOfProduct {
  font-size: 20px;
  font-weight: 500;
}
.pizzaItemPrice {
  font-size: 30px;
  margin: 0px;
}
.pizzaItemBtn {
  padding-bottom: 20px;
}
@media screen and (max-width: 400px) {
  .pizzaItemCart {
    margin: 5px;
  }
}