.blockFooter {
  text-align: center;
  background: rgba(153, 153, 153, 0.37);
}
.textFooter {
  margin: 0;
}
@media screen and (max-width: 400px) {
  .textFooter {
    font-size: 12px;
  }
}
@media screen and (max-width: 350px) {
  .textFooter {
    font-size: 10px;
  }
}
