.loginForm {
  margin: 0 auto;
  max-width: 50%;
}
.btnAndTextGroup {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.btnAndTextGroup div {
  margin-right: 20px;
}
.loginErrorText {
  text-align: center;
  color: red;
}
@media screen and (max-width: 900px) {
  .loginForm {
    max-width: 75%;
  }
  }
@media screen and (max-width: 600px) {
  .ant-col-offset-4 {
    margin-left: 0;
}
  .btnAndTextGroup div {
    margin-top: 20px;
  }
  .loginForm {
    max-width: 90%;
  }
  .btnAndTextGroup {
    text-align: center;
    display: block;
  }
  .textNoRegistrastion{
    display: none;
  }
  }